<div class="card text-white bg-dark m-4">
  <div class="card-body">
        {% include "point_sale/components/list.html" %}

    <div class="card text-white bg-dark m-4">
      
      <div class="card text-white bg-dark  m-4">
        <div class="card-body">
          <button id = "clean" type="button" class="btn btn-danger fa-lg"><i class="fa-solid fa-trash"></i>Clear All</button>
          <button type="button" class="btn btn-dark"><i class="fa-solid fa-money-bill fa-lg total" >$ 0.00</i></button>
          <button id="register" type="button" class="btn btn-success"><i class="fa-solid fa-cash-register fa-lg"></i> Register</button>
        </div>
      </div>
      
      <div class="card-body">
        <table
          class="table table-bordered table-sm table-hover text-center table-striped"
          id = 'tableData'
        >
          <thead>
            <tr class="table-light ">
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">P. Unitario</th>
              <th scope="col">Importe</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
